# BO Server Configuration
bo.server.ip=localhost
bo.server.port=6400
bo.server.user={{ bo_administrator_name }}
bo.server.password={{ bo_administrator_password }}

# Crystal Report Template Root Directory
bo.crystal.report.root.dir=Templates